.customers {
  margin: 70px 0 30px 0;
}

.board {
  padding: 40px 30px 20px 50px;
}

.bar {
  padding-top: 10px;
  text-align: center;
  align-items: center;
  width: 100%;
}
.bar h2 {
  font-size: 48px;
}

.middleEast {
  transition: 0.5s;
}
.middleEast h2 {
  font-size: 48px;
}

.middleEast__clients {
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.india {
  transition: 0.5s;
}
.india h2 {
  font-size: 48px;
}

.india__clients {
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.client {
  display: grid;
  grid-template-areas:
    "cli-img"
    "cli-img"
    "cli-name";
  border-radius: 12px;
  overflow: hidden;
  width: 300px;
  height: 400px;
  box-shadow: 0px 4px 8px 5px rgba(109, 109, 109, 0.25);
  background: black;
  margin: 30px 0px 20px 0;
}

.client__img {
  width: 100%;
  height: 90%;
  background: grey;
  grid-area: cli-img;
}

.client img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  object-fit: cover;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.client__name {
  height: 40%;
  grid-area: cli-name;
  align-items: center;
}
.client__name h6 {
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 0 10px 20px 10px;
}

@media screen and (max-width: 1000px) {
  .customers {
    margin: 10px 0 0 0;
  }
  .board {
    padding: 20px 10px 0 10px;
  }
  .client {
    margin: 20px 0 0 0;
    width: 250px;
    height: 300px;
  }
  .client img {
    width: 250px;
    height: 220px;
  }
  .bar h2 {
    font-size: 34px;
  }
  .india h2 {
    font-size: 30px;
  }
  .middleEast h2 {
    font-size: 30px;
  }
}
