nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 8px 4px rgba(191, 191, 191, 1);
}

.nav__apr {
  padding-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.icon_dis {
  display: none;
}

.nav__search {
  margin-right: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search__logo {
  padding-top: 16px;
}

.main__logo {
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo {
  color: #ff9800;
  font-style: normal;
}

.nav__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.nav__menu div {
  padding-bottom: 10px;
}

.nav__icon {
}

.link {
  font-size: 20px;
  color: #868686;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}
.link:hover {
  color: black;
  text-decoration: none;
}
.current {
  color: black;
  border-bottom: 4px solid #04a5ff;
  box-shadow: 0px 4px 2px -2px rgba(185, 175, 175, 0.25);
  transition: 0.3s;
}
.link_sub {
  font-size: 15px;
  color: rgb(134, 134, 134);
  text-decoration: none;
}
.link_sub:hover {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 1000px) {
  .nav__apr {
    justify-content: space-between;
  }
  .main__logo {
    padding-left: 20px;
  }
  .main__logo img {
    margin-left: -15px;
  }
  .main__logo h3 {
    font-size: 25px;
  }
  .nav__search {
    display: none;
  }
  .nav__menu {
    display: none;
  }
}
