.contact {
  position: relative;
  margin: 0;
  width: 100%;
  background: linear-gradient(
    270deg,
    #6fccb6 0%,
    rgba(204, 111, 183, 0.96) 100%
  );
  overflow: hidden;
}
.contact::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  top: 40%;
  transform: skewY(-15deg);
}
.contact h1 {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 75px;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
}

.contact__det {
  display: flex;
  margin: 0 0 50px 0;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-evenly;
}

.contact__detBox {
  background: #ffffff;
  box-shadow: 0px 4px 50px 30px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  height: 500px;
  margin: 10px;
  z-index: 1;
}
.contact__detBox h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 35px;
  color: #c50478;
  margin: 0 0 10px 5px;
}
.contact__detBox h3 {
  margin: 10px 0 10px 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.contact__detBox h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
  margin: 5px 0 0 0;
}
.space {
  padding: 3px;
}
#contact_line {
  border-top: 1px solid rgb(201, 201, 201);
}
.contact__detBox h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #a4a4a4;
  margin: 5px 0 5px 0;
}
.contact__detBox h5 a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #ab05f9;
}
.contact__detBox h5:hover a {
  text-decoration: none;
  color: #b71aa7;
}

.contact__end {
  z-index: 10;
  margin: 50px 30px 50px 80px;
  display: flex;
  flex-direction: column;
  width: 90%;
}
.contact__endHead {
  z-index: 10;
  width: fit-content;
  margin: 20px 0 30px 0;
}
.contact__endHead h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 42px;
  color: #2b2a2a;
}

.contact__endBody {
  z-index: 10;
}
.contact__endBody h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: lighter !important;
  font-size: 25px;
  line-height: 35px;
  color: #888888;
}

@media screen and (max-width: 1000px) {
  .contact::before {
    top: 40%;
  }
  .contact__detBox {
    height: 470px;
  }
  .contact__end {
    margin: 0 0 0 5%;
  }
  .contact__endHead h2 {
    font-size: 30px;
  }
  .contact__endBody h3 {
    font-size: 28px;
  }
}
